{% extends "base.html" %}

{% block title %}  eMarket - Nxglab		{% endblock %}

{% block body %}
 		<form class="inline" action="{{ url_for('items_search') }}" method=post>
    		{{ form.hidden_tag() }}

		   	<!-- Search form -->
		   	<p>What do you want to buy?. </p>
		   	<div class="row">
		    <div class="col-xs-6 col-md-4">
		      <div class="input-group">
		       	{{ form.Category(class="form-control", placeholder="Example: Laptop, Mobile, Tablet, etc.") }}
		         <div class="input-group-btn">
		          <button class="btn btn-primary" type="submit">
		            <span class="glyphicon glyphicon-search"></span>
		          </button>
		        </div>
		      </div>
		    </div>
		  </div>
		    
		 </form>



		<h1>Items List</h1>
		<br/>

	<table class="table">
	    <!--Table head-->
	    <thead>
	        <tr>
      				<th>Uid</th>
      				<th>Category</th>
      				<th>Vendor</th>      				
      				<th>Model</th>
      				<th>Price</th>
	        </tr>
	    </thead>
	    <tbody>

			{% for MyItem in MyItems %}
			<tr>
      				<td>{{MyItem.Uid}}</td>
      				<td>{{MyItem.Category}}</td>
      				<td>{{MyItem.Vendor}}</td>
      				<td>{{MyItem.Model}}</td>
      				<td>{{MyItem.Price}}</td>
   			</tr>
			{% endfor %}

	 	</tbody>
	</table>

{% endblock %}