
{% extends "base.html" %}

	{% block title %}  NXGLAB - Home Page		{% endblock %}

	{% block body %}
 	
		<h1>Hi, {{ user.username }}!</h1>
		<br/>

		{% for key, value in (parent_dict[0]).items() %}
      		{{key}} : {{value}}
   		{% endfor %}


		<table class="table">
	    <!--Table head-->
	    <thead>
	        <tr>
	            <th>Uid</th>
	            <th>Vendor</th>
	            <th>Category</th>
	            <th>Model</th>
	            <th>Price</th>
	        </tr>
	        


	    </thead>
	    <tbody>
	  <!--Table head-->
		{% for dict_item in parent_dict %}
			<tr>
  			{% for key, value in dict_item.items() %}
      			<td>{{value}}</td>
   			{% endfor %}
   			</tr>
		{% endfor %}
	 	</tbody>
		</table>


 	{% endblock %}

	