{% extends "base.html" %}

{% block title %}  eMarket - Nxglab   {% endblock %}


{% block body %}

  <form class="inline" action="{{ url_for('items_search') }}" method=post>
    {{ form.hidden_tag() }}

     <div class="form-group row">
		{{ form.Category.label(class="col-sm-1") }}
		<div class="col-sm-4"> {{ form.Category(class="form-control") }} </div>
	</div>

 	<div class="form-group row" >
 		<div class="col-sm-5 align-items-center"> {{ form.submit(class="btn btn-primary") }}  </div>		
    </div>
    
  </form>
{% endblock %}
