
{% extends "base.html" %}

{% block title %}  eMarket - Nxglab		{% endblock %}

{% block body %}
 	
		<h1>Inventory</h1>
		<br/>

	<table class="table">
	    <!--Table head-->
	    <thead>
	        <tr>
      				<th>Uid</th>
      				<th>Vendor</th>
      				<th>Category</th>
      				<th>Model</th>
      				<th>Price</th>
	        </tr>
	    </thead>
	    <tbody>

			{% for MyItem in MyItems %}
			<tr>
      				<td>{{MyItem.Uid}}</td>
      				<td>{{MyItem.Vendor}}</td>
      				<td>{{MyItem.Category}}</td>
      				<td>{{MyItem.Model}}</td>
      				<td>{{MyItem.Price}}</td>
   			</tr>
			{% endfor %}

	 	</tbody>
	</table>

{% endblock %}

	