{% extends "base.html" %}

{% block title %}  eMarket - Nxglab   {% endblock %}


{% block body %}

  <form class="form-horizontal" action="{{ url_for('items_add') }}" method=post>
    {{ form.hidden_tag() }}
 
 	<div class="heading">
        <h4 class="form-heading">Add Item</h4>
    </div>

 	<div class="form-group row">
		{{ form.Vendor.label(class="col-sm-1") }}
		<div class="col-sm-4"> {{ form.Vendor(class="form-control") }} </div>
    </div>
	
 	<div class="form-group">
		{{ form.Category.label(class="col-sm-1") }}
		<div class="col-sm-4"> {{ form.Category(class="form-control") }} </div>
	</div>
 	<div class="form-group">
		{{ form.Model.label(class="col-sm-1") }}
		<div class="col-sm-4"> {{ form.Model(class="form-control") }} </div>
	</div>

	<div class="form-group">
		{{ form.Price.label(class="col-sm-1") }}
		<div class="col-sm-4"> {{ form.Price(class="form-control") }} </div>
	</div>
   
 	<br/> 	 	
    {{ form.submit }}
    
  </form>
{% endblock %}
