{% extends "base.html" %}

{% block title %}  eMarket - Nxglab   {% endblock %}


{% block body %}

  <h2>Add Items</h2>
  <form class="form" action="{{ url_for('items_add') }}" method=post>
    {{ form.hidden_tag() }}
 
 	<div class="form-group">
	{{ form.Vendor.label }}
    {{ form.Vendor }}
    </div>

 	<div class="form-group">
	{{ form.Category.label }}
    {{ form.Category }}
    </div>

 	<div class="form-group">
	{{ form.Model.label }}
    {{ form.Model }}
    </div>

    <div class="form-group">
	{{ form.Price.label }}
    {{ form.Price }}
    </div>

 	<br/> 	 	
    {{ form.submit }}
    
  </form>
{% endblock %}
