{% extends "base.html" %}

{% block title %}  eMarket - Nxglab   {% endblock %}


{% block body %}

  <h2>Add Items</h2>
  <form action="{{ url_for('items_add') }}" method=post>
    {{ form.hidden_tag() }}
 
 	<div class="form-group">
    <label >{{ form.Vendor.label }}</label>
    {{ form.Vendor }}
    <input type="text">
    </div>

    {{ form.Vendor.label }}
    {{ form.Vendor }}
 
 	<br/>
    {{ form.Category.label }}
    {{ form.Category }}
 
 	<br/>
    {{ form.Model.label }}
    {{ form.Model }}
 
 	<br/>
    {{ form.Price.label }}
    {{ form.Price }}
 
 	<br/> 	 	
    {{ form.submit }}
    
  </form>
{% endblock %}
